<html>
    <head>
        <title>
            Hoc ASP.NET MVC
        </title>
    </head>

    <body>
        <h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
        <h2> haha</h2>
    </body>
</html>


